** templates/db2server.rsp.j2
** @version 2.02_2019-07-03
** @author Kevin Jeffery
** General Options
PROD                      = {{db2_install.prod}}
FILE                      = {{db2_install.file}}
LIC_AGREEMENT             = {{db2_install.lic_agreement}}
INSTALL_TYPE              = {{db2_install.install_type}}
{%if db2_install.components is defined %}
{%for comp in db2_install.components %}
COMP                      = {{comp.name}}
{%endfor %}
{%endif %}


** The following languages apply to all translated components. Enable the
** language(s) you want installed. If you do not enable any language keywords,
** then the English language (EN) will still be installed by default.
** ---------------------------------------------------------------------------
*LANG                     = BR              ** Portuguese - Brazil (pt_BR)
*LANG                     = CN              ** Simplified Chinese (zh_CN)
*LANG                     = CZ              ** Czech (cs_CZ)
*LANG                     = DE              ** German (de_DE)
*LANG                     = ES              ** Spanish (es_ES)
*LANG                     = FR              ** French (fr_FR)
*LANG                     = IT              ** Italian (it_IT)
*LANG                     = JP              ** Japanese (ja_JP)
*LANG                     = KR              ** Korean (ko_KR)
*LANG                     = PL              ** Polish (pl_PL)
*LANG                     = RU              ** Russian (ru_RU)
*LANG                     = TW              ** Traditional Chinese (zh_TW)

{%if db2_instances is defined %}
{%for inst in db2_instances %}

{%if db2_install.create_instances == true %}
** Instance Creation Settings
** --------------------------
INSTANCE                  = {{inst.instance}}
{{inst.instance}}.NAME             = {{inst.name}} 
{{inst.instance}}.GROUP_NAME              = {{inst.group_name}} 
{{inst.instance}}.FENCED_USERNAME  = {{inst.fenced_username}}
{{inst.instance}}.FENCED_GROUP_NAME = {{inst.fenced_group_name}}

{%if inst.options is defined %}
** Instance Optionals
** ---------------------------
{% for key, value in inst.options.iteritems() %}
{{inst.instance | upper}}.{{ key | upper}}             = {{ value }}
{% endfor %}
{% endif %}

{% if inst.dbm_params is defined %}
** Instance DBM CFG Settings
** -------------------------
{% for key, value in inst.dbm_params.iteritems() %}
{{inst.instance | upper}}.{{ key | upper}}             = {{ value }}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}

{%if db2_install.global_params is defined %}
** Global Profile Registry Settings
** --------------------------------
{% for key, value in db2_install.global_params.iteritems() %}
{{ key | upper}}             = {{ value }}
{% endfor %}
{% endif %}

