.encoding = "UTF-8"
config.version = "8"
virtualHW.version = "8"
nvram = "{{ BS_vm_hostname }}.nvram"
pciBridge0.present = "TRUE"
svga.present = "TRUE"
pciBridge4.present = "TRUE"
pciBridge4.virtualDev = "pcieRootPort"
pciBridge4.functions = "8"
pciBridge5.present = "TRUE"
pciBridge5.virtualDev = "pcieRootPort"
pciBridge5.functions = "8"
pciBridge6.present = "TRUE"
pciBridge6.virtualDev = "pcieRootPort"
pciBridge6.functions = "8"
pciBridge7.present = "TRUE"
pciBridge7.virtualDev = "pcieRootPort"
pciBridge7.functions = "8"
vmci0.present = "TRUE"
hpet0.present = "TRUE"
displayName = "{{ BS_vm_hostname }}"
virtualHW.productCompatibility = "hosted"
vcpu.hotadd = "TRUE"
numvcpus = "{{ BS_vm_cpu_count }}"
cpuid.coresPerSocket = "{{ BS_vm_cpu_count }}"
mem.hotadd = "TRUE"
memsize = "{{ BS_vm_ram_size }}"
powerType.powerOff = "soft"
powerType.suspend = "hard"
powerType.reset = "soft"
scsi0.present = "TRUE"
scsi0.virtualDev = "lsilogic"
sata0.present = "TRUE"
sata0:0.present = "TRUE"
sata0:0.deviceType = "cdrom-image"
sata0:0.fileName = "{{BS_appliance_iso}}"
floppy0.present = "FALSE"
ethernet0.present = "TRUE"
ethernet0.networkName = "{{hostvars[item.host_name]['vmware_networks'][0]['name']}}"
ethernet0.virtualDev = "{{hostvars[item.host_name]['vmware_networks'][0]['device_type']}}"
ethernet0.addressType = "generated"
{%if hostvars[item.host_name]['vmware_networks'][1] is defined %}
ethernet1.present = "TRUE"
ethernet1.networkName = "{{hostvars[item.host_name]['vmware_networks'][1]['name']}}"
ethernet1.virtualDev = "{{hostvars[item.host_name]['vmware_networks'][1]['device_type']}}"
ethernet1.addressType = "generated"
{%endif %}
{%if hostvars[item.host_name]['vmware_networks'][2] is defined %}
ethernet2.present = "TRUE"
ethernet2.networkName = "{{hostvars[item.host_name]['vmware_networks'][2]['name']}}"
ethernet2.virtualDev = "{{hostvars[item.host_name]['vmware_networks'][2]['device_type']}}"
ethernet2.addressType = "generated"
{%endif %}
scsi0:0.present = "TRUE"
scsi0:0.deviceType = "scsi-hardDisk"
scsi0:0.fileName = "{{ BS_vm_hostname }}.vmdk"
guestOS = "other26xlinux-64"
toolScripts.afterPowerOn = "TRUE"
toolScripts.afterResume = "TRUE"
toolScripts.beforeSuspend = "TRUE"
toolScripts.beforePowerOff = "TRUE"
usb.present = "TRUE"
ehci.present = "TRUE"
tools.syncTime = "TRUE"
tools.upgrade.policy = "manual"
